.dialog-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #777;
}

.dialog {
  background-color: #fff;
  max-height: 500px;
  max-width: 350px;
  line-height: 1.05em;

  &__header {
    background-color: #ddd;
    display: flex;
  }

  &__header-title-container {
    min-width: 0;
  }

  &__header-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__header-button {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  &__content {
    display: flex;
    height: 330px;
  }

  &__content-block {
    &_left {
      width: 30%;
      border-right: 1px solid #ccc;
    }

    &_right {
      width: 70%;
      overflow: auto;
    }
  }

  &__footer {
    word-break: break-word;
    text-align: center;
    background-color: #ddd;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 500px;
  width: 100%;
}
